<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>subject</title>

    
    
  
    
    
  

  </head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: none; background-color: #2f2f2f; color: #505050; font-family: 'Lucida Grande', 'Lucida', sans-serif; margin: 0; padding: 0; width: 100%;">
    <center>
      <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="color: #646464; font-family: 'Lucida Grande', 'Lucida', sans-serif; height: 100%; margin: 0; padding: 0; width: 100%;">
        <tr>
          <td align="center" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="background-color: #e3e3e3; border: 0px solid #DDDDDD;">
              <tr>
                <td align="center" valign="top">
                  <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="background-color: #FFFFFF; border-bottom: 0;">
                    <tr>
                      <td>
                        <a href="http://indabamusic.com-append" style="color: #2788cf; text-decoration: none;">
                          <img src="https://opps-notify.s3.amazonaws.com/email-indaba-logo-header.png" alt="Indaba Music" border="0" width="600" style="border: none; display: block; font-size: 14px; font-weight: bold; height: auto; line-height: 100%; outline: none; text-decoration: none; text-transform: capitalize;">
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td class="headerContent" style="color: #202020; font-family: Lucida Grande; font-size: 34px; font-weight: bold; line-height: 100%; padding: 0; text-align: center; vertical-align: middle;">
                        <img src="https://opps-notify.s3.amazonaws.com/opportunity-email-header-default.jpg" width="600" style="border: none; display: block; font-size: 14px; font-weight: bold; height: auto; line-height: 100%; outline: none; text-decoration: none; text-transform: capitalize;">
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="center" valign="top">
                  
<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody">
  <tr>
    <td align="center">
      <table width="560" border="0" style="padding-top: 11px; padding-bottom: 11px;">
        <tr> 
          <td width="30%" style="background-color: #e3e3e3;padding-right: 5px;" valign="top" align="left">
            <table style="border: 14px solid #2d2d2d; background-color: #2d2d2d;" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td valign="bottom" colspan="2">
                  <img src="userImgUrl" style="border: 1px solid #003466; display: block; font-size: 14px; font-weight: bold; height: auto; line-height: 100%; outline: none; text-decoration: none; text-transform: capitalize;">
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" height="35" style="padding-top: 10px;">	
                    <tr>
                      <td width="33%" align="center" style="background-color: #535250; vertical-align: top;">
                        <table cellpadding="0" cellspacing="0" border="0" style="padding: 4px 0 4px 0;">
                          <tr>
                            <td style="background-color: #535250; vertical-align: middle;" valign="middle" height="18" align="center">
                              <img src="https://opps-notify.s3.amazonaws.com/play.png" style="border: none; display: block; font-size: 14px; font-weight: bold; height: auto; line-height: 100%; outline: none; padding: 0 2px 0 2px; text-decoration: none; text-transform: capitalize;"> 
                            </td>
                            <td style="background-color: #535250; vertical-align: middle; font-size: 8px; color: #97cc64; padding-right: 2px;" valign="middle">
                              &nbsp;playCount
                            </td>
                          </tr>
                          <tr>
                            <td align="center" style="font-size: 8px; color: #868686; padding-top: 3px;" colspan="2">
                              PLAYS
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td width="1">
                      </td>
                      <td width="33%" align="center" style="background-color: #535250; vertical-align: top;">
                        <table cellpadding="0" cellspacing="0" border="0" style="padding: 4px 0 4px 0;">
                          <tr>
                            <td style="background-color: #535250; vertical-align: middle;" valign="middle" height="18" align="center">
                              <img src="https://opps-notify.s3.amazonaws.com/dialog_box.png" style="border: none; display: block; font-size: 14px; font-weight: bold; height: auto; line-height: 100%; outline: none; padding: 0 2px 0 2px; text-decoration: none; text-transform: capitalize;"> 
                            </td>
                            <td style="background-color: #535250; vertical-align: middle; font-size: 8px; color: #97cc64; padding-right: 2px;" valign="middle">
                              &nbsp;commentCount
                            </td>
                          </tr>
                          <tr>
                            <td align="center" style="font-size: 8px; color: #868686; padding-top: 3px;" colspan="2">
                              COMMENTS
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td width="1">
                      </td>
                      <td width="33%" align="center" style="background-color: #535250;">
                        <table cellpadding="0" cellspacing="0" border="0" style="padding: 4px 0 4px 0;">
                          <tr>
                            <td style="background-color: #535250; vertical-align: middle;" valign="middle" height="18" align="center">
                              <img src="https://opps-notify.s3.amazonaws.com/check.png" style="border: none; display: block; font-size: 14px; font-weight: bold; height: auto; line-height: 100%; outline: none; padding: 0 2px 0 2px; text-decoration: none; text-transform: capitalize;"> 
                            </td>
                            <td style="background-color: #535250; vertical-align: middle; font-size: 8px; color: #97cc64; padding-right: 2px;" valign="middle">
                              &nbsp;voteCount
                            </td>
                          </tr>
                          <tr>
                            <td align="center" style="font-size: 8px; color: #868686; padding-top: 3px;" colspan="2">
                              VOTES
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <a href="facebookShareUrl-append" style="color: #2788cf; text-decoration: none;"><img src="https://opps-notify.s3.amazonaws.com/facebook.png" width="100%" style="border: none; display: block; font-size: 14px; font-weight: bold; height: auto; line-height: 100%; outline: none; text-decoration: none; text-transform: capitalize;"></a>
            <a href="twitterShareUrl-append" style="color: #2788cf; text-decoration: none;"><img src="https://opps-notify.s3.amazonaws.com/twitter.png" width="100%" style="border: none; display: block; font-size: 14px; font-weight: bold; height: auto; line-height: 100%; outline: none; text-decoration: none; text-transform: capitalize;"></a>

          </td>
          <td width="2%">
            &nbsp;
          </td>

          <td valign="top" class="bodyContent" style="background-color: #e3e3e3;" width="68%">

            <!-- // Begin Module: Standard Content \\ -->
            <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
              <tr>
                <td valign="top">
                  <div style="color: #646464; font-family: Lucida Grande; font-size: 15px; line-height: 150%; text-align: left;"><strong>Hey</strong> userName,<br>
                    <br>
                    Your recent submission
                    <span style="color: #80aa56; font-weight: bold;">just reached
                      playCount plays!
                    </span> Drunk with fame? <b>Keep promoting your track</b>
                    and be sure to
                    <a href="opportunityListenUrl-append" style="color: #2788cf; text-decoration: none;">check out the submissions</a>
                    by Indaba members who have recently listened to yours.<br>
                    <br>
                    <br>
                    <center>
                      <a href="submissionStatsUrl-append" style="color: #2788cf; text-decoration: none;"><img src="https://opps-notify.s3.amazonaws.com/seeallyourlisteners.png" style="border: none; display: inline; font-size: 14px; font-weight: bold; height: auto; line-height: 100%; margin-bottom: 10px; outline: none; text-decoration: none; text-transform: capitalize;"></a></center>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr><td><hr width="95%"></td></tr>
  <tr>
    <td style="background-color: #e3e3e3; color: #444444;" colspan="2" width="100%" align="center">
      <br>
      <a href="opportunityListenUrl-append" style="color: #2788cd; font-size: 18px; font-weight: bold; text-decoration: none;">Listen to more tracks!</a><br><br>
    </td>
  </tr>
</table>

                </td>
              </tr>
              <tr>
                <td align="center" valign="top">
                  <!-- // Begin Template Footer \\ -->
                  <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter" style="background-color: #2f2f2f; border-top: 0;">
                    <tr>
                      <td valign="top" class="footerContent">

                        <!-- // Begin Module: Standard Footer \\ -->
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td colspan="2" valign="left" id="info" style="padding-top: 15px;">
                              <div style="color: #707070; font-family: Lucida Grande; font-size: 12px; line-height: 125%; text-align: left;">
                                You are receiving this email as a registered member of
                                Indaba Music.
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="2" valign="left" id="utility" style="background-color: #2f2f2f; padding-top: 15px;">
                              <div style="color: #707070; font-family: Lucida Grande; font-size: 12px; line-height: 125%; text-align: left;">
                                <a href="emailPreferencesUrl-append" style="color: #2788cf; text-decoration: none;">Email Preferences</a>&nbsp;
                              </div>
                            </td>

                          </tr>
                          <tr>
                            <td colspan="3" valign="left" id="info" style="padding-top: 15px;">
                              <div style="color: #707070; font-family: Lucida Grande; font-size: 10px; line-height: 125%; text-align: left;">
                                Indaba Music	568 Broadway New York, NY 10012 |
                                <a href="http://www.indabamusic.com/corporate/privacy-append" style="color: #2788cf; text-decoration: none;">Privacy Policy</a> |
                                <a href="http://www.indabamusic.com/about-append" style="color: #2788cf; text-decoration: none;">About Us</a>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <br>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
